body {
  background-color: #cecece;
}
.container {
  background-color: #ffffff;
}
.navbar {
  margin-bottom: 0;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.products-section .btn {
  margin-top: 10px;
}
